// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$marron: #d4a373 !default;
$beige: #faedcd !default;
$blanc: #fefae0 !default;
$vertP: #e9edc9 !default;
$vertF: #ccd5ae !default;
